
@{
    ViewBag.Title = "My Profile";
    ViewBag.Controller = "Home";
    Layout = "~/Views/Shared/_Inner_Layout.cshtml";
}
@model BarangayInformationSystem.Models.ViewModel

<link href="~/Content/assets/css/login.css" rel="stylesheet" />
<link href="~/Content/assets/css/myprofile.css" rel="stylesheet" />
<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

<div class="row">
    <div class="col-12">
        <!-- Form START -->
        <form class="file-upload">
            <input type="checkbox" id="ckToggle" class="float-right" data-toggle="toggle" data-on="Disable" data-off="Enable" data-onstyle="primary" onchange="editToggle()">
            <div class="row mb-5 gx-5">
                <div class="col-xxl-6 mb-5 mb-xxl-0">
                    <div class="bg-secondary-soft px-4 py-5 rounded">
                        <div class="row g-3">
                            <h4 class="mb-4 mt-0">Personal Information</h4>
                            <div class="col-md-6">
                                <label class="form-label">First Name </label>
                                @Html.TextBoxFor(m=>m.user_detail.user_fname, new { @placeholder = "", @id = "personal", @class = "form-control personal", @required="true" })
                            </div>
                            <div class="col-md-6">
                                <label class="form-label">Last Name </label>
                                @Html.TextBoxFor(m => m.user_detail.user_lname, new { @placeholder = "", @id = "personal", @class = "form-control personal", @required = "true" })
                            </div>
                            <div class="col-md-6">
                                <label class="form-label">Middle Name</label>
                               @Html.TextBoxFor(m => m.user_detail.user_mname, new { @placeholder = "", @id = "personal", @class = "form-control", @required = "true" })
                            </div>
                            <div class="col-md-6">
                                <label class="form-label">Suffix (Ex. Jr.,Sr.,III etc)</label>
                                @Html.TextBoxFor(m => m.user_detail.user_suffix, new { @placeholder = "", @id = "personal", @class = "form-control", @required = "true" })
                            </div>
                            <div class="col-md-6">
                                <label for="inputEmail4" class="form-label">Civil Status </label>
                                <select class="form-control" id="civilstatus" name="civilstatus">
                                    <option value="0" @(Model.user_detail.user_civil_status == "0" || Model.user_detail.user_civil_status == null ? "selected" : "")>SELECT</option>
                                    <option value="Single" @(Model.user_detail.user_civil_status == "Single" ? "selected" : "")>Single</option>
                                    <option value="Married" @(Model.user_detail.user_civil_status == "Married" ? "selected" : "")>Married</option>
                                    <option value="Solo" @(Model.user_detail.user_civil_status == "Solo" ? "selected" : "")>Solo</option>
                                    <option value="Separated" @(Model.user_detail.user_civil_status == "Separated" ? "selected" : "")>Separated</option>
                                    <option value="Widower" @(Model.user_detail.user_civil_status == "Widower" ? "selected" : "")>Widower</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label for="inputEmail4" class="form-label">Gender </label>
                                <select class="form-control" id="gender" name="gender">
                                    <option value="0" @(Model.user_detail.user_gender == "0" ? "selected" : "")>SELECT</option>
                                    <option value="M" @(Model.user_detail.user_gender == "M" ? "selected" : "")>M</option>
                                    <option value="F" @(Model.user_detail.user_gender == "F" ? "selected" : "")>F</option>
                                    <option value="LGBT" @(Model.user_detail.user_gender == "LGBT" ? "selected" : "")>LGBT</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label for="inputEmail4" class="form-label">Family Member Type </label>
                                <select class="form-control" id="memberType">
                                    <option value="0">SELECT</option>
                                    <option value="Family Head" @(Model.user_detail.user_member_type == "Family Head" ? "selected" : "")>Family Head</option>
                                    <option value="Spouse" @(Model.user_detail.user_member_type == "Spouse" ? "selected" : "")>Spouse</option>
                                    <option value="Child" @(Model.user_detail.user_member_type == "Child" ? "selected" : "")>Child</option>
                                    <option value="Relative" @(Model.user_detail.user_member_type == "Relative" ? "selected" : "")>Relative</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label class="form-label">Cellphone</label>
                                @Html.TextBoxFor(m => m.user_detail.user_tel_no, new { @placeholder = "", @class = "form-control", @required = "true" })
                            </div>
                            <div class="col-md-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" @(Model.user_detail.user_has_national_id == 1 ? "checked" : "" ) name="NationalID" id="National">
                                    <label class="form-check-label" for="National">
                                        National ID?
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" @(Model.user_detail.user_has_national_id == 1 ? "checked" : "" ) name="registervoter" id="registervoter">
                                    <label class="form-check-label" for="registervoter">
                                        Registered Voter ?
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label class="form-label">Precinct</label>
                                @Html.TextBoxFor(m => m.user_detail.user_precinct, new { @placeholder = "", @class = "form-control" })
                            </div>
                            <div class="col-md-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" @(Model.user_detail.user_has_sss == 1 ? "checked" : "" ) name="SSS" id="SSS">
                                    <label class="form-check-label" for="SSS">
                                        SSS/GSIS ?
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" @(Model.user_detail.user_has_philhealth == 1 ? "checked" : "" ) name="Philhealth" id="Philhealth">
                                    <label class="form-check-label" for="Philhealth">
                                        Philhealth ?
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" @(Model.user_detail.user_has_philhealth == 1 ? "checked" : "" ) name="DriversLicense" id="DriversLicense">
                                    <label class="form-check-label" for="DriversLicense">
                                        DriversLicense ?
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" @(Model.user_detail.user_has_sss == 1 ? "checked" : "" ) name="_4ps" id="_4ps">
                                    <label class="form-check-label" for="_4ps">
                                        4P's ?
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" @(Model.user_detail.user_is_uct == 1 ? "checked" : "" ) name="UCT" id="UCT">
                                    <label class="form-check-label" for="UCT">
                                        UCT ?
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label class="form-label">Email</label>
                                @Html.TextBoxFor(m => m.user_detail.user_email, new { @placeholder = "", @class = "form-control", @required = "true" })
                            </div>
                            <div class="col-md-6">
                                <label class="form-label">Other Income</label>
                                @Html.TextBoxFor(m => m.user_detail.user_other_income, new { @placeholder = "", @class = "form-control", @required = "true" })
                            </div>
                        </div> <!-- Row END -->
                    </div>
                </div>
                <!-- Upload profile -->
                <div class="col-xxl-6 mb-5 mb-xxl-0">
                    <div class="bg-secondary-soft px-4 py-5 rounded">
                        <div class="row g-3">
                            <h4 class="mb-4 mt-0">Birth Information</h4>
                            <div class="col-md-6">
                                <label class="form-label">Age</label>
                                @Html.TextBoxFor(m => m.user_detail.user_age, new { @class = "form-control", @required = "true" })
                            </div>
                            <div class="col-md-6">
                                <label class="form-label">Birthdate</label>
                                @Html.TextBoxFor(m => m.user_detail.user_date_birth.Value, new { @type="text", @class = "form-control", @required = "true" })
                            </div>
                            <div class="col-md-6" hidden>
                                Region
                                <select name="region" id="region" class="form-control"></select>
                            </div>
                            <div class="col-md-6" hidden>
                                <label class="form-label">Province</label>

                                <select name="province" id="province" class="form-control"></select>
                            </div>
                           
                            <div class="col-md-6" hidden>
                                <label class="form-label">City/Municipality</label>
                                <select name="city" id="city" class="form-control"></select>
                            </div>
                            <div class="col-md-6">
                            </div>
                            <h4 class="mb-4 mt-0">Health Information</h4>
                            <div class="col-md-6">
                                <label class="form-label">Blood</label>
                                @Html.TextBoxFor(m => m.user_detail.user_blood, new { @class = "form-control", @required = "true" })
                            </div>
                            <div class="col-md-6">
                                <label class="form-label">Height</label>
                                @Html.TextBoxFor(m => m.user_detail.user_height, new { @class = "form-control", @required = "true" })
                            </div>
                            <div class="col-md-6">
                                <label class="form-label">Weight</label>
                                @Html.TextBoxFor(m => m.user_detail.user_weight, new { @class = "form-control", @required = "true" })
                            </div>
                            <div class="col-md-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" @(Model.user_detail.user_is_malnourish == 1 ? "checked" : "" ) name="Malnourish" id="Malnourish">
                                    <label class="form-check-label" for="Malnourish">
                                        Malnourish ?
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" @(Model.user_detail.user_is_PWD == 1 ? "checked" : "" ) name="PWD" id="PWD">
                                    <label class="form-check-label" for="PWD">
                                        PWD ?
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" @(Model.user_detail.user_is_covid_vax == 1 ? "checked" : "" ) name="VAX" id="VAX">
                                    <label class="form-check-label" for="VAX">
                                        COVID VAX ?
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label class="form-label">Comorbidities</label>
                                @Html.TextBoxFor(m => m.user_detail.user_comorbidities, new { @class = "form-control" })
                            </div>
                            <div class="col-md-6">
                                <label class="form-label">Other Vax</label>
                                @Html.TextBoxFor(m => m.user_detail.user_other_vax, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- Row END -->
            <!-- Social media detail -->
            <div class="row mb-5 gx-5" hidden>
                               <!-- change password -->
                <div class="col-xxl-6">
                    <div class="bg-secondary-soft px-4 py-5 rounded">
                        <div class="row g-3">
                            <h4 class="my-4">Change Password</h4>
                            <!-- Old password -->
                            <div class="col-md-6">
                                <label for="exampleInputPassword1" class="form-label">Old password *</label>
                                
                            </div>
                            <!-- New password -->
                            <div class="col-md-6">
                                <label for="exampleInputPassword2" class="form-label">New password *</label>
                                <input type="password" class="form-control" id="exampleInputPassword2">
                            </div>
                            <!-- Confirm password -->
                            <div class="col-md-12">
                                <label for="exampleInputPassword3" class="form-label">Confirm Password *</label>
                                <input type="password" class="form-control" id="exampleInputPassword3">
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- Row END -->
            <!-- button -->
            <div class="gap-3 d-md-flex justify-content-md-end text-center" hidden>
                <button type="button" class="btn btn-danger btn-lg" hidden>Delete profile</button>
                <button type="button" class="btn btn-primary btn-lg" hidden>Update profile</button>
            </div>
        </form> <!-- Form END -->
    </div>
</div>

<script src="https://f001.backblazeb2.com/file/buonzz-assets/jquery.ph-locations-v1.0.0.js"></script>
<script type="text/javascript">
    var my_handlers = {
        fill_provinces: function () {

            var region_code = $(this).val();
            $('#province').ph_locations('fetch_list', [{ "region_code": region_code }]);
        },
        fill_cities: function () {

            var province_code = $(this).val();
            $('#city').ph_locations('fetch_list', [{ "province_code": province_code }]);
            }
    };
    $(function () {
        $('#region').on('change', my_handlers.fill_provinces);
        $('#province').on('change', my_handlers.fill_cities);
        //$("#purok").on('change', my_handlers.fill_purokLeader);
        $('#city').on('change', my_handlers.fill_barangays);

        $('#region').ph_locations({ 'location_type': 'regions' });
        $('#province').ph_locations({ 'location_type': 'provinces' });
        $('#city').ph_locations({ 'location_type': 'cities' });
        $('#barangay').ph_locations({ 'location_type': 'barangays' });

        $('#region').ph_locations('fetch_list');
       // $('#region').ph_locations('fetch_list', [{ "regions": $('#provinceValue').val() }]);
        //$('#my-city-dropdown').ph_locations('fetch_list', [{ "province_code": "1339" }]);

    });
    editToggle();
    function onloadBirthplace()
    {
        $('#region option[value="'+$('#provinceValue').val()+'"]').attr('selected','selected');
        //$('#region').
        //provinceValue
    }

    function editToggle()
    {
        var toggleVal = document.getElementById("ckToggle").checked;
        if (toggleVal) {
            document.getElementById("personal").readOnly = true;
        }
        else {
            document.getElementById("personal").readOnly = false;
        }
    }
</script>